<plugin name='camel' version='0.2' grailsVersion='1.1 &gt; *'>
  <author>Chris Navta</author>
  <authorEmail>chris@ix-n.com</authorEmail>
  <title>Integration with Apache Camel</title>
  <description>\
This plugin provides an integration with Apache Camel (http://camel.apache.org), giving Controllers and Services a 'sendMessage' method that will send
a message to a given endpoint.

It also adds a 'Route' artifact that allows configuration of Camel routing using the Java DSL. New Routes can be
added with the 'grails create-route MyRouteName' command.
</description>
  <documentation>http://wiki.github.com/cnavta/apache-camel-grails-plugin</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>spring.resources</resource>
    <resource>UrlMappings</resource>
    <resource>DefaultRoute</resource>
  </resources>
  <dependencies />
</plugin>